body {
  margin: 0;
  background-color: #393e46;
  color: #eeeeee;
}
main {
  margin: 0 auto 0 auto;
}
::selection {
  background-color: #00adb5;
}
.main-header {
  background-color: #222831;
  padding: 8px 16px;
}
.main-header__logo {
  font-size: 25px;
  color: #eeeeee;
  text-decoration: none;
}
.main-header__logo > img {
  height: 40px;
  vertical-align: middle;
  padding: 10px;
}
.main-nav {
  display: inline-block;
  width: calc(100% - 140px);
  text-align: right;
}
.main-nav__items {
  font-size: 20px;
}
.main-nav__item {
  display: inline-block;
  margin-right: 15px;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__item a {
  width: 60px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  color: #eeeeee;
  text-decoration: none;
}
.main-nav__item:hover a {
  border: 1px solid #00adb5;
  background-color: #00adb5;
  color: #393e46;
}

.main-header a:active {
  background-color: #00adb5;
  color: #393e46;
}

#showcase {
  background: url("home-bg.jpeg");
  background-position: center;
  height: 700px;
  padding: 10px;
  color: #222831;
}

.row {
  margin-bottom: 40px;
  text-align: center;
}

.col {
  display: inline-block;
  width: 30%;
  padding: 16px;
  margin: 8px;
}

.icon-box h3 {
  font-size: 26px;
}
